#error {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 2s;
}

#error-img {
  width: 30px;
  height: auto;
  margin-right: 7px;
}

.alert-error {
  color: black;
  background-color: RGBA(255, 102, 102, 0.5);
  /* background-color: #ff6666; */
  border: 1px solid black;
}

.alert-warning {
  color: black;
  /* background-color: #ffe066; */
  background-color: RGBA(255, 224, 102);
  border: 1px solid black;
}

#error-text {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  margin: 0;
  align-self: flex-end;
}

@media (max-width: 630px) {
  #error {
    flex-direction: column;
    align-items: center;
  }
  #error-text {
    align-self: inherit;
  }
}
