.flex-row {
  display: flex;
  flex-direction: row;
}

.card {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  margin: 30px auto 0;
  padding: 60px 30px 30px;
}

.thin-border {
  border: solid 1.5px rgb(240, 240, 240);
  border-radius: 8px;
}

.faint {
  color: rgb(152, 152, 152);
}

.temperature p {
  margin: 10px;
}
