.main-weather-container {
  padding: 40px 40px 40px 30px;
  font-size: 24px;
  background: #fff;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  /* border: red 2px solid; */
}

.margin-lg {
  margin: 20px 5px;
}

.country-name-container {
  margin-top: 15px;
  position: relative;
  align-items: center;
}
