#logo-container {
  display: flex;
  width: calc(100% - 50px);
  margin-left: 30px;
  padding: 0 0 10px;
  align-self: flex-start;
  align-items: baseline;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

#logo {
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
  color: rgba(195, 40, 96, 0.8);
}

#logo-trail {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Bubblegum Sans", cursive;
  font-size: 20px;
  margin-left: auto;
}

.main-weather-container {
  padding: 30px 40px 40px 30px;
  font-size: 24px;
  background: #fff;
  border-radius: 8px;
}
.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.margin-lg {
  margin: 20px 5px;
}

.country-name-container {
  margin-top: 40px;
  position: relative;
  align-items: center;
}

#div-box-1 {
  margin-top: 0;
  width: 300px;
}

.mobile-country-name {
  display: none;
}

/* MOBILE */
@media (max-width: 630px) {
  #logo-container {
    width: fit-content;
    margin: 0;
    align-self: inherit;
  }
  #logo-trail {
    margin: 0;
    margin-left: 10px;
  }

  #main-weather-container {
    width: auto;
    padding: 0;
  }
  #main-weather-child-1 {
    width: auto;
    flex-direction: column;
  }

  #small-weather-container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  #div-box-2 {
    flex-direction: column-reverse;
  }

  #country-name-container {
    display: none;
    margin-bottom: 10px;
  }

  .mobile-country-name {
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0 10px;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: rgb(80, 57, 57);
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
  .card {
    margin-top: 0px;
  }
}

/* TABLET */
@media (max-width: 740px) {
  #div-box-1 {
    width: auto;
  }
}
