.main-weather-container {
  font-size: 24px;
  background: #fff;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  /* border: red 2px solid; */
}

.margin-lg {
  margin: 20px 30px;
}
